<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> We do not see this Title on a page, just on URL </title>
</head>

<body>
    {{> header}} 
    <p>{{myUpper welcomeMessage}}</p>

    <p>Some text here</p>

    {{> footer}}

</body>

</html>
